.mainContainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 24px;
 }
 
 .saved-methods {
   border: solid 1px rgba(75,79,92,0.3);
   border-radius: 8px;
   padding: 16px;
   display: flex;
   flex-direction: column;
   gap: 16px;
 }
 
.http-method, .req-url, .req-body, .req-params, .req-headers {
   display: flex;
   flex-direction: column;
   gap: 16px;
   border-radius: 8px;
   padding: 16px;
   border: solid 1px rgba(75,79,92,0.3);
 }
 
 .formElement {
   display: flex;
   flex-direction: column-reverse;
   gap: 8px;
 }
 
 .formRow {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 12px;
 }
 
 .input {
   height: 40px;
   border-radius: 8px;
   border: solid 1px rgba(75,79,92,0.3);
   box-sizing: border-box;
   padding: 8px;
 }
 
 textarea {
   border-radius: 8px;
   border: solid 1px rgba(75,79,92,0.3);
   box-sizing: border-box;
   padding: 8px;
   width: 100%;
   margin-top: 12px;
 }
 
 .input:focus, .input:hover, textarea:focus, textarea:hover {
   outline: none;
   border: solid 1px rgb(75,79,92);
 }
 
 .label {
   font-weight: 600;
   font-size: 14px;
   color: black;
 }
 
 .input:focus + .label, .input:hover + .label {
   color: rgb(75,79,92);
 }
 
 .buttonsContainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 12px;
 }
 
 .actionButton {
   background-color: rgb(75,79,92);
   border: solid 1px rgb(75,79,92);
   color: white;
   font-size: 16px;
   cursor: pointer;
   border-radius: 8px;
   height: 40px;
   font-weight: 500;
 }
 
 .actionButton:hover {
   background-color: white;
   color: rgb(75,79,92);
   transition: all 0.2s ease-out;
 }
 
 .textButton {
   color: rgb(75,79,92);
   border: none;
   background-color: white;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   width: fit-content;
   margin: 0px auto;
 }
 
 .textButton:hover {
   color: rgb(88, 22, 22);
   transition: all 0.2s ease-out;
 }
 
 select {
   width: 100%;
   padding: 0px 8px;
   background-color: #fff;
   border-radius: 8px;
   color: #000;
   cursor: pointer;
 }
 
 .paramRow {
   display: grid;
   grid-template-columns: 1fr 1fr auto;
   gap: 12px;
 }
 
 .parametrs {
   display: flex;
   flex-direction: column;
   gap: 12px;
 }
 
 h3 {
   margin: 0px;
 }
 
 .divider {
   width: 100%;
   background-color: rgb(198, 197, 197);
   border: none;
   height: 1px;
 }
 
 .hidden {
   display: none;
 }
 
 .reqContainer {
   background-color: #fff;
   padding: 10px;
   border-radius: 8px;
   cursor: pointer;
   font-size: 20px;
 }
 
 .reqContainer-GET {
   border: solid 2px rgb(81, 156, 254);
   background-color: rgba(81, 156, 254, 0.1);
 }
 
 .reqContainer-POST {
   border: solid 2px rgb(63, 196, 126);
   background-color: rgba(63, 196, 126, 0.1);
 }
 
 .reqContainer-PUT {
   border: solid 2px rgb(249, 143, 27);
   background-color: rgba(249, 143, 27, 0.1);
 }
 
 
 .methodName {
   padding: 4px 8px;
   color: white;
   border-radius: 4px;
   width: fit-content;
   font-weight: 600;
   margin-bottom: 12px;
   font-size: 14px;
   letter-spacing: 1.5px;
 }
 
 .method-GET {
   background-color: rgb(81, 156, 254);
 }
 
 .method-POST {
   background-color: rgb(63, 196, 126);
 }
 
 .method-PUT {
   background-color: rgb(249, 143, 27);
 }
 
 .emptyState {
   font-size: 40px;
   text-align: center;
   color: rgb(176, 173, 173);
   font-weight: 600;
 }
 
 .selectedRequest {
   border-color: rgb(75,79,92);
 }
 
 .actionButton:disabled {
   background-color: rgba(75,79,92,0.1);
   cursor: not-allowed;
   color: rgba(75,79,92,0.5);
   border-color: rgba(75,79,92,0.1);
 }
 
 .response {
   border: solid 1px rgba(75,79,92,0.3);
   border-radius: 8px;
   padding: 16px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   margin-top: 12px;
 }
 
 .imgPreview {
   height: auto;
   width: 300px;
 }
 